<div [formGroup]="form">
  <div class="container my-3">
    <ul class="nav nav-tabs my-4" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          id="home-tab"
          data-toggle="tab"
          href="#home"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          >Datos básicos 1</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="profile-tab"
          data-toggle="tab"
          href="#profile"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
          >Datos básicos 2</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="contact-tab"
          data-toggle="tab"
          href="#contact"
          role="tab"
          aria-controls="contact"
          aria-selected="false"
          >Datos básicos 3</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="datosbasico4-tab"
          data-toggle="tab"
          href="#datosbasico4"
          role="tab"
          aria-controls="datosbasico4"
          aria-selected="false"
          >Datos basico 4</a
        >
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEmail4">Consecutivo</label>
            <input
              type="email"
              class="form-control"
              id="consecutivo"
              formControlName="consecutivo"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">Nit prestador</label>
            <input
              type="text"
              class="form-control"
              id="nitPrestador"
              formControlName="nitPrestador"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">Prestador</label>
            <input
              type="text"
              class="form-control"
              id="nombrePrestador"
              formControlName="nombrePrestador"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="tipoIdentificacion">Tipo identificación</label>
            <select
              id="tipoIdentificacion"
              class="form-control"
              formControlName="tipoIdentificacion"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">T.I.</option>
              <option value="2">C.I.</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="numIdentificacion">Número Identificación</label>
            <input
              type="text"
              class="form-control"
              id="numIdentificacion"
              formControlName="numIdentificacion"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="numIdentificacion">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="numIdentificacion">Primer apellido</label>
            <input
              type="text"
              class="form-control"
              id="primerApellido"
              formControlName="primerApellido"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="numIdentificacion">Segundo apellido</label>
            <input
              type="text"
              class="form-control"
              id="segundoApellido"
              formControlName="segundoApellido"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">Edad</label>
            <input
              type="text"
              class="form-control"
              id="edad"
              formControlName="edad"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">Sexo</label>
            <div class="form-control">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio1"
                  value="option1"
                />
                <label class="form-check-label" for="inlineRadio1">M</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio2"
                  value="option2"
                />
                <label class="form-check-label" for="inlineRadio2">F</label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Address</label>
            <input type="text" class="form-control" formControlName="address" />
          </div>

          <div class="form-group col-md-2">
            <label for="inputZip">Telefono</label>
            <input
              type="text"
              class="form-control"
              id="phone"
              formControlName="phone"
            />
          </div>

          <div class="form-group col-md-4">
            <label for="inputState">Regional</label>
            <select
              id="idRegional"
              class="form-control"
              formControlName="idRegional"
              placeholder="Elegir"
            >
              <option selected disabled>Elegir...</option>
              <option>Bolivar</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputZip">Fecha Remision</label>
            <input
              type="date"
              class="form-control"
              id="phone"
              formControlName="fechaRemision"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputZip">Responsable Remisión</label>
            <input
              type="text"
              class="form-control"
              id="phone"
              formControlName="responsableRemision"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputZip">Fecha asignación valoración inicial</label>
            <input
              type="date"
              class="form-control"
              id="phone"
              formControlName="fechaAsignacionValoracionInicial"
            />
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEmail4"
              >Fecha Consulta Primera Vez Cuidados aleativos</label
            >
            <input
              type="date"
              class="form-control"
              formControlName="fechaConsultaPrimeraVezCuidadosPaleativos"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Modalidad Atención</label>
            <select formControlName="modalidadAtencion" class="form-control">
              <option selected disabled>Elegir...</option>
              <option value="n30">Infección vias Urinarias</option>
              <option value="i10x">Hipertensión arterial</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">Oncologico</label>
            <input
              type="text"
              class="form-control"
              formControlName="oncologico"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEmail4">indiceBarthel</label>
            <input
              type="number"
              class="form-control"
              formControlName="indiceBarthel"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">Escala Downton</label>
            <input
              type="number"
              class="form-control"
              formControlName="escalaDownton"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">Escala Borg</label>
            <input
              type="number"
              class="form-control"
              formControlName="escalaBorg"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEmail4">escalaReisberg</label>
            <input
              type="number"
              class="form-control"
              formControlName="escalaReisberg"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">karnofsky</label>
            <input
              type="number"
              class="form-control"
              formControlName="karnofsky"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">ESAS</label>
            <input type="number" class="form-control" formControlName="esas" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEmail4">Ecaf</label>
            <input type="number" class="form-control" formControlName="ecaf" />
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">Enese</label>
            <input type="number" class="form-control" formControlName="enese" />
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">Pffeifer</label>
            <input
              type="number"
              class="form-control"
              formControlName="pffeifer"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEmail4">ramsay</label>
            <input
              type="number"
              class="form-control"
              formControlName="ramsay"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">Resultado Instrumento NECPAL</label>
            <input
              type="number"
              class="form-control"
              formControlName="resultadoInstrumentoNECPAL"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">Ingreso Al Programa</label>
            <input
              type="date"
              class="form-control"
              formControlName="ingresoAlPrograma"
            />
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="contact"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEmail4">justificacion</label>
            <input
              type="number"
              class="form-control"
              formControlName="justificacion"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">fechaIngresoAlPrograma</label>
            <input
              type="date"
              class="form-control"
              formControlName="fechaIngresoAlPrograma"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputState"
              >Evaluado Junta Clinica Paliativa de Ingreso</label
            >
            <select
              id="inputState"
              class="form-control"
              formControlName="evaluadoJuntaClinicaPaliativaDeIngreso"
            >
              <option selected disabled>Choose...</option>
              <option value="0">SI</option>
              <option value="1">NO</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">IDC-PAL</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="idcpal"
            >
              <option selected disabled>Choose...</option>
              <option value="0">No compleja</option>
              <option value="1">Compleja</option>
              <option value="2">Altamente compleja</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">Escala de Dolor Inicial</label>
            <input
              type="number"
              class="form-control"
              formControlName="escalaDeDolorEvaInicial"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Escala Calidad Vida POS Inicial</label>
            <input
              type="number"
              class="form-control"
              formControlName="escalaCalidadVidaPosInicial"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Nivel</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="nivel"
            >
              <option selected disabled>Choose...</option>
              <option value="1">Nivel I</option>
              <option value="2">Nivel II</option>
              <option value="3">Nivel III</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">ambito</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="ambito"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Ambulatorio</option>
              <option value="2">Domiciliario</option>
              <option value="3">Hostal</option>
              <option value="4">Hospitalario</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Consulta seguimiento</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="consultaSeguimiento"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Si</option>
              <option value="2">No</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Medicina paliativa</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="medicinaPaliativa"
            >
              <option selected disabled>Choose...</option>
              <option value="1">Si</option>
              <option value="2">No</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Periodicidad medicina paleativa</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="periodicidadMedicinaPaleativa"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Diaria</option>
              <option value="2">Inter diaria</option>
              <option value="3">Semanal</option>
              <option value="4">Quincenal</option>
              <option value="5">Mensual</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Enfermería</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="enfermeria"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Si</option>
              <option value="2">No</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Periodicidad enfermería</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="periodicidadEnfermeria"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Diaria</option>
              <option value="2">Inter diaria</option>
              <option value="3">Semanal</option>
              <option value="4">Quincenal</option>
              <option value="5">Mensual</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Nutrición</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="nutricion"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Si</option>
              <option value="2">No</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Periodicidad nutrición</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="periodicidadNutricion"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Diaria</option>
              <option value="2">Inter diaria</option>
              <option value="3">Semanal</option>
              <option value="4">Quincenal</option>
              <option value="5">Mensual</option>
            </select>
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="datosbasico4"
        role="tabpanel"
        aria-labelledby="datosbasico4-tab"
      >
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Trabajo social</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="medicinaPaliativa"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Si</option>
              <option value="2">No</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Periodicidad trabajo social</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="periodicidadTrabajoSocial"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Diaria</option>
              <option value="2">Inter diaria</option>
              <option value="3">Semanal</option>
              <option value="4">Quincenal</option>
              <option value="5">Mensual</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Psicología</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="psicologia"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Si</option>
              <option value="2">No</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Periodicidad psicología</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="periodicidadPsicologia"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Diaria</option>
              <option value="2">Inter diaria</option>
              <option value="3">Semanal</option>
              <option value="4">Quincenal</option>
              <option value="5">Mensual</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">fisioterapia</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="fisioterapia"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Si</option>
              <option value="2">No</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Periodicidad fisioterapia</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="periodicidadFisioterapia"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Diaria</option>
              <option value="2">Inter diaria</option>
              <option value="3">Semanal</option>
              <option value="4">Quincenal</option>
              <option value="5">Mensual</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Guia Espiritual</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="guiaEspiritual"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Si</option>
              <option value="2">No</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Periodicidad guia espiritual</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="periodicidadFisioterapia"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Diaria</option>
              <option value="2">Inter diaria</option>
              <option value="3">Semanal</option>
              <option value="4">Quincenal</option>
              <option value="5">Mensual</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Manejo del Dolor</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="manejoDelDolor"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Si</option>
              <option value="2">No</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Medicamentos Opioides</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="manejoDelDolor"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Si</option>
              <option value="2">No</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Ordenamiento medicamentos insumos</label>
            <input
              type="text"
              class="form-control"
              formControlName="ordenamientoMedicamentosInsumos"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Manejo Oxigenotepraia</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="manejoOxigenotepraia"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Si</option>
              <option value="2">No</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Tiempo estimado tratamiento</label>
            <input
              type="text"
              class="form-control"
              formControlName="tiempoEstimadoTratamiento"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Estado actual</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="estadoActual"
            >
              <option selected disabled>Elegir...</option>
              <option value="1">Activo</option>
              <option value="2">Pasivo</option>
              <option value="3">Fallecido</option>
              <option value="4">Otros egresos</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Fecha estado</label>
            <input
              type="date"
              class="form-control"
              formControlName="fechaEstado"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Estancia en Programa</label>
            <input
              type="number"
              class="form-control"
              formControlName="estanciaEnPrograma"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Promedio Costo Mes Antes Ingreso</label>
            <input
              type="number"
              class="form-control"
              formControlName="promedioCostoMesAntesIngreso"
            />
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-secondary mx-2" (click)="back()">
      Volver
    </button>
    <button type="button" class="btn btn-primary" (click)="saveForm()">
      Registrar
    </button>
  </div>
</div>
