<nav class="navbar navbar-expand-sm bg-primary">
  <div class="container-fluid container">
    <a class="navbar-brand" href="#">
      <img
        src="assets/img/logo.png"
        class="d-inline-block align-top mr-3"
        width="200px"
        height="60px"
        alt=""
        loading="lazy"
      />
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Operación
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['operacion/createprofesional']"
                >Profesiónales</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Parametros
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['parametros/profesiones']"
                >Empresa</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['parametros/sedes']"
                >Sedes</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['parametros/profesiones']"
                >Profesiónes</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <!-- mENU FINAL -->
      <ul class="navbar-nav mb-2 mb-lg-0 dropdown-menu-right">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Perfil
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/admin/user/changePassword']"
                >Cambiar contraseña</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/admin/user/edit']"
                >Actualizar datos</a
              >
            </li>
            <li>
              <button class="dropdown-item shadow-none" (click)="logout()">
                <span class="icon icon-log-out"></span> Salir
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
