<div class="container">
  <fieldset class="mb-3">
    <div class="row">
      <div class="col" style="justify-content: space-between">
        <h2><fa-icon [icon]="faCoffee"></fa-icon> Profesionales</h2>
      </div>
      <div>
        <h1>
          <button
            type="button"
            class="btn btn-success"
            (click)="newRegister('new')"
          >
            <fa-icon [icon]="faPlusSquare"></fa-icon>
          </button>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Empresa</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let empresa of empresas" value="{{ empresa.id }}">
              {{ empresa.nombre }}
            </option>
          </select>
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
      </div>
      <div class="col col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Sede</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let sede of sedes" value="{{ sede.id }}">
              {{ sede.description }}
            </option>
          </select>
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Especialidad</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option
              *ngFor="let profesion of profesiones"
              value="{{ profesion.id }}"
            >
              {{ profesion.description }}
            </option>
          </select>
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
      </div>
      <div class="col col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Nro Documento</label>
          <input type="number" class="form-control" name="nrodocumento" id="" />
          <small id="emailHelp" class="form-text text-muted"
            >Nro de documento del profesional.</small
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6">
        <button type="button" class="btn btn-primary" ng-click="consultar()">
          <fa-icon [icon]="faSave"></fa-icon>
          Consultar
        </button>
      </div>
    </div>
  </fieldset>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Empresa</th>
        <th scope="col">Sede</th>
        <th scope="col">Profesion</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">RutaImagen</th>
        <th scope="col">CreadoCuando</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profesional of profesionales">
        <th scope="row">{{ profesional.empresa }}</th>
        <td>{{ profesional.Sede }}</td>
        <td>{{ profesional.Profesion }}</td>
        <td>{{ profesional.Nombre }}</td>
        <td>{{ profesional.Apellido }}</td>
        <td><img [src]="profesional.rutaFirma" width="50" height="50" /></td>
        <td>{{ profesional.createAtDate | date: "mediumDate" }}</td>
        <td>
          <button
            type="button"
            class="btn mx-2"
            (click)="EditopenModalWithComponent('edit', profesional)"
          >
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button type="button" class="btn" ng-click="click()">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
