<div class="container">
  <fieldset class="mb-3">
    <div style="display: flex; justify-content: space-around">
      <div class="col">
        <h2><fa-icon [icon]="faCoffee"></fa-icon> Profesionales</h2>
      </div>
      <div>
        <h1>
          <button
            type="button"
            class="btn btn-success"
            (click)="newRegister('new')"
          >
            <fa-icon [icon]="faPlusSquare"></fa-icon>
            Nuevo
          </button>
        </h1>
      </div>
    </div>

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Filtro de consulta
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <div class="row my-2">
              <div class="col col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="form-label"
                    >Empresa</label
                  >
                  <select class="form-select" id="exampleFormControlSelect1">
                    <option
                      *ngFor="let empresa of empresas"
                      value="{{ empresa.id }}"
                    >
                      {{ empresa.nombre }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="form-label"
                    >Sede</label
                  >
                  <select class="form-select" id="exampleFormControlSelect1">
                    <option *ngFor="let sede of sedes" value="{{ sede.id }}">
                      {{ sede.description }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row my-2">
              <div class="col col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="form-label"
                    >Especialidad</label
                  >
                  <select class="form-select" id="exampleFormControlSelect1">
                    <option
                      *ngFor="let profesion of profesiones"
                      value="{{ profesion.id }}"
                    >
                      {{ profesion.description }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="form-label"
                    >Nro Documento</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    name="nrodocumento"
                    id=""
                  />
                </div>
              </div>
            </div>
            <div class="row my-2">
              <div class="col col-md-6">
                <button
                  type="button"
                  class="btn btn-primary"
                  ng-click="consultar()"
                >
                  <fa-icon [icon]="faSave"></fa-icon>
                  Consultar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Empresa</th>
        <th scope="col">Sede</th>
        <th scope="col">Profesion</th>
        <th scope="col">Nombre</th>
        <th scope="col">Imagen</th>
        <th scope="col">Creado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profesional of profesionales">
        <th scope="row">{{ profesional.empresa }}</th>
        <td>{{ profesional.Sede }}</td>
        <td>{{ profesional.Profesion }}</td>
        <td>{{ profesional.Nombre }} {{ profesional.Apellido }}</td>
        <td><img [src]="profesional.rutaAbsoluta" width="50" height="50" /></td>
        <td>{{ profesional.createAtDate | date: "mediumDate" }}</td>
        <td>
          <button
            type="button"
            class="btn mx-2"
            (click)="EditopenModalWithComponent('edit', profesional)"
          >
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button type="button" class="btn" ng-click="click()">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
