<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Listado carga archivos nuevos afiliados.</h1>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <button class="btn btn-primary" (click)="goToAdd()">
        <span class="icon icon-plus-circle text-white"></span>
        Nuevo Registro
      </button>
    </div>
  </div>
  <div class="row my-1">
    <div class="col">
      <table
        datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        class="table table-sm table-bordered table-hover shadow"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th>id</th>
            <th>Acciones</th>
            <th>Mes</th>
            <th>Año</th>
            <th>Usuario</th>
            <th>Estado</th>
            <th>Archivo</th>
            <th>Tamaño</th>
            <th>Creado</th>
            <th>Actualizado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fileLoad of files; let key = index">
            <td>{{ fileLoad.id }}</td>
            <td style="display: block">
              <!-- <button
                *ngIf="fileLoad.estado == 0 ? false : true"
                type="button"
                class="btn btn-secondary btn-sm mr-1 shadow-none"
                title="Modificar registro"
                (click)="editFileLoad(fileLoad)"
              >
                <span class="icon icon-edit-3 text-white"></span>
              </button> -->
              <button
                *ngIf="fileLoad.estado == 0 ? false : true"
                type="button"
                class="btn btn-danger btn-sm mr-1 shadow-none"
                title="Eliminar registro"
                (click)="deleteFileLoad(fileLoad, key)"
              >
                <span class="icon icon-trash-2 text-white"></span>
              </button>
            </td>
            <td>{{ fileLoad.idMonth }}</td>
            <td>{{ fileLoad.idYear }}</td>
            <td>
              <small>{{ fileLoad.nombreCompleto }}</small>
            </td>
            <td>{{ fileLoad.estado == 0 ? "Anulado" : "Activo" }}</td>
            <td>
              <a href="{{ server }} + {{ fileLoad.fileUrl }}" download>{{
                fileLoad.fileNameOriginal
              }}</a>
            </td>
            <td>{{ fileLoad.fileSize }} Kb</td>
            <td>
              <small>{{ fileLoad.createdAt | date: "short" }}</small>
            </td>
            <td>
              <small>{{ fileLoad.updatedAt | date: "short" }}</small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
