<form [formGroup]="form">
  <div class="container p-3">
    <fieldset class="mb-9">
      <div class="row mb-3" style="justify-content: space-between">
        <div class="col col-md-6">
          <h2><fa-icon [icon]=""></fa-icon> Actualización Password</h2>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <div class="form-group">
            <label for="usuario">Usuario</label>
            <input
              type="email"
              formControlName="usr_email"
              class="form-control"
            />
            <small id="usuario" class="form-text text-muted"
              >Correo electrónico o usuario</small
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <div class="form-group">
            <label for="nombres">Password Actual</label>
            <input
              type="password"
              formControlName="usr_password"
              class="form-control"
            />
            <small id="nombres" class="form-text text-muted"
              >Ingresar Contraseña actual.</small
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <div class="form-group">
            <label for="tipoId">Password Nuevo</label>
            <input type="password" formControlName="new_password" class="form-control" />
            <small id="tipoId" class="form-text text-muted"
              >Ingresar Contraseña Nueva.</small
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <div class="form-group">
            <label for="tipoId">Repetir Password Nuevo</label>
            <input type="password" formControlName="rep_new_password" class="form-control" />
            <small id="tipoId" class="form-text text-muted"
              >Ingresar Contraseña Nueva (repetir).</small
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <button type="button" class="btn btn-primary" (click)="UpdateUser()">
            <fa-icon [icon]="faSave"></fa-icon>
            Actualizar
          </button>
        </div>
      </div>
    </fieldset>
  </div>
</form>

