.iconSize {
  font-size: 3rem;
  text-align: center;
  min-height: 64px;
  color: aqua;
}

.numbers {
  text-align: right;
}

.card-category {
  font-size: 1.2rem;
  opacity: initial;
  line-height: 1.4rem;
  color: #9a9a9a;
  margin-bottom: 0px;
}

.card-title {
  font-size: 2rem;
}

.divCard {
  margin-top: 15px;
  border-radius: 1.25rem !important;
}

.bodyCardCss {
  margin-bottom: 0px !important;
}
